@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  ::-webkit-scrollbar {
      width: 5px;
  }
  ::-webkit-scrollbar-track {
      background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
      background: linear-gradient(transparent, rgb(117, 0, 0), white, blue, white);
      border-radius: 100px;
      transition: all 0.3s ease;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(transparent, rgb(117, 0, 0), blue, white);
      border-radius: 100px;
  }
  ::selection{
    background: rgb(0,123,255,0.3);
  }
  .content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    backdrop-filter: blur(3px);
  }
  .navbar.sticky{
    background: white;
    padding: 10px 0;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.082);
  }
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .navbar .logo a:hover{
    color: rgb(0, 68, 255);
  }
  .navbar .menu-list{
    display: inline-flex;
  }
  .menu-list li{
    list-style: none;
  }
  .menu-list li a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .menu-list li a:hover{
    color: rgb(126, 0, 27);
  }
  .banner{
    height: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .about{
    padding: 30px 0;
    background: white;
    box-shadow: 0px 15px 25px 0px rgb(0, 0, 0);
  }
  .about .title{
    font-size: 18px;
    font-weight: 700;
  }
  .about p{
    padding-top: 20px;
    text-align: justify;
  }
  .icon{
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }
  @media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
  }
  @media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: white;
      box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.103);
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
  }
  @media (max-width: 380px) {
    .navbar .logo a{
      font-size: 27px;
    }
  }
  header
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo
  {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  .toggle
  {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
  }
  .toggle.active
  {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
  }
  .overlay
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
  }
  .logoword {
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: black;
  }
  .logoword:hover {
    color: black;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
  }
  .title {
    font-size: 38px;
  }
  table {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 13px;
  }
  
  th {
    font-size: 30px;
  }
  
  h3 {
    width: 330px;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    display: inline-block;
    text-align: center;
  }
  
  h5 {
    width: 330px;
    border: 3px double black;
    padding: 10px;
    margin: 10px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    display: inline-block;
    text-align: left;
  }
  
  h4 {
    width: 30%;
    border: 1px solid #444;
    padding: 10px;
    margin: 10px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    display: inline-block;
  }
  #example1 {
    color: black;
    font-size: 34px;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
  .mapbg {
    width: 100%;
    height: 660px;
    z-index: -100;
  }
  footer{
    background: #414141;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #414141;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 1 - 6px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #000000;
    background: #000000;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #414141;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #414141;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #000000;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .link_li {
    text-align: justify;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }
  .f {
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
  .container{
    width: 500px;
    overflow: hidden;
}
.container .text{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 600;
}
.container .text.first-text{
    color: #7a0000;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #414141;
    border-left: 2px solid rgb(255, 255, 255);
    animation: animate 5s steps(55) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
h1 {
  color: rgb(0, 0, 0);
  font-family: Trebuchet MS;
  font-size: 250%;
  width: 30%;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  display: inline-block;
}
p {
    color: black;
  font-family: Trebuchet MS;
  font-size: 100%;
}
table, th, td {
  text-align: center;
  size: 30%;
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  color: rgb(0, 0, 0);
  font-size: 15px;
}
  @media (max-width: 2000px) {
    .informations{
      width: 100%;
    }
    .mapbg{
      height: 100vh;
    }
  }
  @media (max-width: 1230px) {
    .informations{
      width: 100%;
    }
    .mapbg{
      height: 100vh;
    }
  }
  @media (max-width: 1100px) {
    .informations{
      width: 100%;
    }
    .mapbg{
      height: 100vh;
    }
  }
  @media (max-width: 900px) {
    .informations{
      width: 100%;
    }
    .mapbg{
      height: 100vh;
    }
  }
  @media (max-width: 868px) {
    .informations{
      width: 100%;
    }
    .mapbg{
      height: 100vh;
    }
  }
  @media (max-width: 380px) {
    .informations{
      width: 100%;
    }
    .mapbg{
      height: 100vh;
    }
  }
  .contact-icon {
    padding-top: 16px;
    font-size: 40px;
  }
  .contact-tables {
    width: 100%;
    display: flex;
    padding-left: 16%;
  }
  .padding {
    width: 10%;
  }