@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
      width: 0;
  }
  ::-webkit-scrollbar-track {
      background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
      background: linear-gradient(transparent, rgb(117, 0, 0), white, blue, white);
      border-radius: 100px;
      transition: all 0.3s ease;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(transparent, rgb(117, 0, 0), blue, white);
      border-radius: 100px;
  }
  ::selection{
    background: rgb(0,123,255,0.3);
  }
  #arrowAnim {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow {
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-color: rgb(0, 0, 0) transparent transparent rgb(0, 0, 0);
    transform: rotate(-135deg);
  }
  
  
  .arrowSliding {
    padding-top: 400px;
    position: absolute;
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 0.5s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 1.0s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 1.5s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateY(-10px); }  
     20% { opacity:1; transform: translateY(-6px); } 
     80% { opacity:1; transform: translateY(6px); }  
    100% { opacity:0; transform: translateY(10px); } 
  }
  @keyframes slide {
      0% { opacity:0; transform: translateY(-10px); }  
     20% { opacity:1; transform: translateY(-6px); } 
     80% { opacity:1; transform: translateY(6px); }  
    100% { opacity:0; transform: translateY(10px); } 
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    transition: all 0.7s ease-in;
    z-index: 4000;
  }
  .content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }
  .navbar .blur{
    background: none;
  }
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
  }
  .navbar.sticky{
    background: white;
    padding: 10px 0;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.082);
  }
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .navbar .menu-list{
    display: inline-flex;
    backdrop-filter: blur(10px);
  }
  .menu-list li{
    list-style: none;
  }
  .menu-list li a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .menu-list li a:hover{
    color: rgb(126, 0, 27);
  }
  .banner{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .about{
    padding: 30px 0;
    background: white;
    box-shadow: 0px 15px 25px 0px rgb(0, 0, 0);
  }
  .about .title{
    font-size: 18px;
    font-weight: 700;
  }
  .about p{
    padding-top: 20px;
    text-align: justify;
  }
  .icon{
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }
  .menubar-img {
    width: 300px;
    height: 300px;
    display: none;
  }
  @media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
    .logoword {
      font-size: 30px;
    }
  }
  @media (max-width: 1210px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: rgb(255, 255, 255);
      backdrop-filter: blur(10px);
      box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.103);
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
    .menubar-img {
      width: 280px;
      height: 300px;
      display: flex;
      padding-top: 20px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
    .menubar-img {
      width: 260px;
      height: 280px;
      display: flex;
      padding-top: 20px;
    }
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
    .menubar-img {
      width: 240px;
      height: 260px;
      display: flex;
      padding-top: 20px;
    }
    .rasoja {
      font-size: 14px;
    }
  }
  @media (max-width: 460px) {
    .Heading {
      font-size: 29px;
    }
    .menubar-img {
      width: 220px;
      height: 240px;
      display: flex;
      padding-top: 20px;
    }
  }
  @media (max-width: 438px) {
    .navbar .logo a{
      font-size: 28px;
    }
    .Heading {
      font-size: 27px;
    }
    .menubar-img {
      display: none;
    }
  }
  @media (max-width: 420px) {
    .navbar .logo a{
      font-size: 26px;
    }
    .Heading {
      font-size: 25px;
    }
  }
  @media (max-width: 396px) {
    .navbar .logo a{
      font-size: 24px;
    }
    .Heading {
      font-size: 23px;
    }
  }
  @media (max-width: 370px) {
    .navbar .logo a{
      font-size: 22px;
    }
    .Heading {
      font-size: 21px;
    }
  }
  @media (max-width: 352px) {
    .navbar .logo a{
      font-size: 20px;
    }
    .Heading {
      font-size: 19px;
    }
  }
  @media (max-width: 328px) {
    .navbar .logo a{
      font-size: 18px;
    }
    .Heading {
      font-size: 17px;
    }
  }
  header
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo
  {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  .toggle
  {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
  }
  .toggle.active
  {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
  }
  .showcase
  {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
  }
  .showcase.active
  {
    right: 300px;
  }
  
  .showcase video
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  .overlay
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
  }
  .logoword {
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .logoword:hover {
    color: black;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
  }
  .title {
    font-size: 38px;
  }
  table {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 13px;
  }
  
  th {
    font-size: 30px;
  }
  
  h3 {
    width: 330px;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    display: inline-block;
    text-align: center;
  }
  
  h5 {
    width: 330px;
    border: 3px double black;
    padding: 10px;
    margin: 10px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    text-align: left;
  }
  
  h4 {
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    display: inline-block;
  }
  footer{
    background: #414141;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #414141;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 0 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #00000000;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #ffffff;
    border-color: #ffffff;
  }
  .top .media-icons a:nth-child(2){
    background: #00000000;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #ffffff;
    border-color: #ffffff;
  }
  .top .media-icons a:nth-child(3){
    background: #00000000;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #ffffff;
    border-color: #ffffff;
  }
  .top .media-icons a:nth-child(4){
    background: #00000000;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #ffffff;
    border-color: #ffffff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    padding-left: 20px;
    padding-right: 20px;
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #000000;
    background: #000000;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #414141;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #414141;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #000000;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .link_li {
    text-align: justify;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 950px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
    footer .content .top{
      margin-bottom: 26px;
    }
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 100%;
      margin-top: 10px;
    }
    footer .content .top{
      margin-bottom: 32px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      padding: 0;
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
    footer .content .top{
      margin-bottom: 38px;
    }
  }
.f {
  width: 120px;
  height: 120px;
  border-radius: 20%;
}
.img-gallery {
  width: 80%;
  margin: 20px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 2fr));
  grid-gap: 30px;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
  height: 100%;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}

.img-gallery img:hover {
  transform: scale(1.07);
  border-radius: 10px;
  box-shadow: 0 32px 75px rgba(0, 26, 255, 0.377);
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.88);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img {
  width: 90%;
  max-width: 1000px;
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 33px;
  color: #fff;
  text-shadow: 0 0 3px black;
  cursor: pointer;
}

.h1title {
  font-size: 70px;
  text-shadow: 2px 2px 8px #000000;
}

.inner-window {
  display: flex;
  flex-direction: row;
}

.first-column {
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
  height: 1280px;
  width: 60%;
  align-items: center;
}

.second-column {
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
  height: 1280px;
  width: 40%;
}
.second-column .none {
  font-size: 17px;
  width: 95%;
}
.history-cover{
  width: 100%;
  height: 20%;
}
.second-column-heading-Sinhala {
  font-size: 30px;
}
.second-column-heading-English {
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 750px){
  .inner-window{
    flex-direction: column;
  }
  .first-column{
    width: auto;
    height: auto;
  }
  .history-cover{
    display: none;
  }
  .second-column{
    width: auto;
  }
  .second-column-heading-Sinhala {
    font-size: 25px;
  }
  .second-column-heading-English {
    font-size: 19px;
    font-weight: 600;
  }
}
@media (max-width: 660px){
  .second-column-heading{
    font-size: 18px;
    text-decoration: underline 3px solid;
  }
}
@media (max-width: 320px){
  .second-column-heading-Sinhala {
    font-size: 19px;
  }
  .second-column-heading-English {
    font-size: 13px;
    font-weight: 600;
  }
  .second-column .none {
    font-size: 15px;
    width: 95%;
  }
}
hr {
  height:3px;
  border-width: 100%;
  color:black;
  background-color: black;
  box-shadow: #000000;
}
.none {
  font-weight: 400;
}
.to-top {
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#222222;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity: 1;
}
.to-top.active:hover {
  bottom:32px;
  pointer-events: auto;
  -webkit-animation: to-top 2.5s linear infinite; 
          animation: to-top 2.5s linear infinite;
}
@keyframes to-top {
   0% { opacity:0.97; transform: translateY(0px); }  
  20% { opacity:0.97; transform: translateY(5px); } 
  80% { opacity:0.97; transform: translateY(-5px); }  
  100% { opacity:0.97; transform: translateY(0px); } 
}
.Aesthetic-fb {
  font-size: 15px;
}
.Sinhala {
  font-size: 18px;
}