@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  ::-webkit-scrollbar {
      width: 5px;
  }
  ::-webkit-scrollbar-track {
      background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
      background: linear-gradient(transparent, rgb(117, 0, 0), white, blue, white);
      border-radius: 100px;
      transition: all 0.3s ease;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(transparent, rgb(117, 0, 0), blue, white);
      border-radius: 100px;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: all 0.7s ease-in;
    z-index: 4000;
  }
  .content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }
  .navbar .blur{
    background: none;
  }
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
  }
  .navbar.sticky{
    background: white;
    padding: 10px 0;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.082);
  }
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .navbar .menu-list{
    display: inline-flex;
  }
  .menu-list li{
    list-style: none;
  }
  .menu-list li a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .menu-list li a:hover{
    color: rgb(126, 0, 27);
  }
  .banner{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .about{
    padding: 30px 0;
    background: white;
    box-shadow: 0px 15px 25px 0px rgb(0, 0, 0);
  }
  .about .title{
    font-size: 18px;
    font-weight: 700;
  }
  .about p{
    padding-top: 20px;
    text-align: justify;
  }
  .icon{
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }
  @media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
  }
  @media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: rgb(255, 255, 255);
      box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.103);
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
  }
  @media (max-width: 380px) {
    .navbar .logo a{
      font-size: 27px;
    }
  }
  header
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo
  {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  .toggle
  {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
  }
  .toggle.active
  {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
  }
  .showcase
  {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
  }
  .showcase.active
  {
    right: 300px;
  }
  
  .showcase video
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  .overlay
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
  }
  .logoword {
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .logoword:hover {
    color: black;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
  }
  .title {
    font-size: 38px;
  }
  table {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 13px;
  }
  
  th {
    font-size: 30px;
  }
  .Society_name {
    font-size: 16px;
    font-weight: 600;
    border: hidden;
    width: auto;
  }
  
  h3 {
    width: 330px;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    display: inline-block;
    text-align: center;
  }
  
  h5 {
    width: 330px;
    border: 3px double black;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    margin: 10px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    display: inline-block;
    text-align: left;
  }
  
  .Society_description {
    width: auto;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: justify;
    font-weight: 400;
  }

  td h4 {
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: justify;
  }
  footer{
    background: #414141;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 32px 75px rgba(0, 0, 0, 0.336);
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #414141;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #00000000;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #690b0b;
    border-color: #690b0b;
  }
  .top .media-icons a:nth-child(2){
    background: #00000000;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #690b0b;
    border-color: #690b0b;
  }
  .top .media-icons a:nth-child(3){
    background: #00000000;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #690b0b;
    border-color: #690b0b;
  }
  .top .media-icons a:nth-child(4){
    background: #00000000;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #690b0b;
    border-color: #690b0b;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 1 - 6px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #000000;
    background: #000000;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #414141;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #414141;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #000000;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .link_li {
    text-align: justify;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }
  .f {
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
  .container{
    width: 500px;
    overflow: hidden;
}
.container .text{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 600;
}
.container .text.first-text{
    color: #7a0000;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #414141;
    border-left: 2px solid rgb(255, 255, 255);
    animation: animate 5s steps(10000) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
.img-gallery {
  width: 80%;
  margin: 20px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-gap: 20px;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
  height: 170px;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}

.img-gallery img:hover {
  transform: scale(0.97);
  border-radius: 10px;
  box-shadow: 0 32px 75px rgba(0, 26, 255, 0.377);
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.88);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img {
  width: 90%;
  max-width: 1000px;
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 33px;
  color: #fff;
  text-shadow: 0 0 3px black;
  cursor: pointer;
  transition: all 0.3s  ease-in-out;
}

.full-img span:hover {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 33px;
  color: rgb(190, 0, 0);
  text-shadow: 0 0 3px black;
}

.inner-window {
  display: flex;
  flex-direction: row;
}

.first-column {
  box-shadow: inset;
  overflow-y: auto;
  padding-right: 30px;
  height: 1080px;
  width: 60%;
  align-items: center;
}

.second-column {
  padding: 9px;
  overflow-y: auto;
  height: 1080px;
  width: 40%;
}
hr {
  height:3px;
  border-width: 100%;
  color:black;
  background-color: black;
  box-shadow: #000000;
}

table {
  width: 97%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-left: 1%;
  margin: 1%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
td {
  align-items: center;
}
th {
  font-size: 30px;
  transition: 0.25s;
}

tr {
  align-items: center;
  transition: all 0.25s ease-in-out;
}

tr:hover {
  background: rgb(214, 214, 214);
  color: rgb(0, 0, 0);
  transition: all 0.25s ease-in-out;
}

.block a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: 0.2s;
}

.block a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(228, 228, 228);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 40%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: all 0.1s ease-in-out;
}

.dropdown-content h4 {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.inner-window-SA {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.first-column-SA {
  box-shadow: inset;
  overflow-y: auto;
  padding-right: 30px;
  height: 1105px;
  width: 60%;
  align-items: center;
}

.second-column-SA {
  padding: 9px;
  overflow-y: auto;
  height: 1090px;
  width: 40%;
}

.noneEffect {
  border: hidden;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
  .h1title {
    font-size: 38px;
  }
@media (max-width: 870px){
  .img-gallery {
    width: 80%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
    grid-gap: 10px;
  }
  .img-gallery img {
    width: 100%;
    cursor: pointer;
    height: 160px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
  }
}
@media (max-width: 733px){
  .img-gallery {
    width: 80%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(105px, 2fr));
    grid-gap: 6px;
  }
  .img-gallery img {
    width: 100%;
    cursor: pointer;
    height: 95px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
  }
}
@media (max-width: 733px){
  .img-gallery {
    width: 90%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(105px, 2fr));
    grid-gap: 6px;
  }
  .img-gallery img {
    width: 100%;
    cursor: pointer;
    height: 95px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
  }
}
@media (max-width: 500px) {
  .h1title {
    font-size: 31px;
  }
}
@media (max-width: 300px) {
  .img-gallery {
    width: 90%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38%, 2fr));
    grid-gap: 6px;
  }
  .img-gallery img {
    width: 100%;
    cursor: pointer;
    height: 80px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
  }
}
.Home-Page-Content {
  font-size: 20px;
}
.Content-Headings {
  font-size: 30px;
}